*{

    color:navy;
    background-color:lightslategray ;
}
/* * selector element is a universal style selector,is this case the background is light gray and all the text is navy */

body {

    background-color:lightslategray;

}
/* the body selector element allows you to make changes to anything in the body as a whole */

button {

    font-size: 30px;

}
/* the button selector element allows you to change all buttons as a whole */


h1,h2 {

    color:lime;

}
/* you can select multiple headers / elements at once and change their styling */

#signup {

    background-color:limegreen;
    color:navy;

}
/* # links IDs to the CSS */

.tag {

    color:gold;

}
/* . looks for anything that has a class named "tag" and will change their styling */

.post a{

    color:limegreen;

}
/* .post a calling all classes with the post "a" tag, allows us to change all classes named post as a whole */

footer a {

    color:limegreen;

}
/* footer a is calling all the anchor tags  under footer to a certain style  */
/* if footer > a was used. the > is a descendant selector */